body {
  background: #222;
  color: lime;
  font-family: monospace;
  margin: 20px;
}
 
a {
  color: lime;
}
 
#sign {
  display: flex;
  align-items: baseline;
  margin: 15px;
}


 /* blinking cursor */
#cursor {
  background: lime;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 2px;
}

@-webkit-keyframes blink {
  0% {background: #222}
  50% {background: lime}
  100% {background: #222}
}
